<p>
    <%= @season.year_id %>
</p>

<div ng-app="app">
    <div ng-controller="MainCtrl as $ctrl">
    <div ui-grid="{ data: $ctrl.myData<%= @season.year_id %> }" class="myGrid" id="grid<%= @season.year_id %>"></div>
    </div>
</div>
