<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/seasons">Home</a>
  <form class="form-inline">
    <a class="btn btn-outline-primary" href="/finals" role="button">
      Finals History
    </a>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="/awards" role="button">
      Awards History
      </a>
    </div>
  </form>
</nav>



<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}

body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


</style>
</head>



<% @seasons.each do |season| %>
  <%= link_to 'Show', season, remote: true %>
<% end %>


<script>
    angular.module('app', ['ngTouch', 'ui.grid'])
  .controller('MainCtrl', MainCtrl);

function MainCtrl() {
 alert("in here!");
 <% @seasons.each do |season| %>
  this.myData<%= @season.year_id %> = [
    {
        firstName: "Cox",
        lastName: "Carney",
        company: "Enormo",
        employed: true
    },
    {
        firstName: "Lorraine",
        lastName: "Wise",
        company: "Comveyer",
        employed: false
    },
    {
        firstName: "Nancy",
        lastName: "Waters",
        company: "Fuelton",
        employed: false
    }
  ];
<% end %>

}
</script>




<div ng-app="app">
    <div  ng-controller="MainCtrl as $ctrl">
      <div id="gridArea">
      </div>
    </div>
</div>





<p id="notice"><%= notice %></p>


