<style>
table, th, td {
  border: 1px solid black;
}
th, td {
  padding: 8px;
}
</style>

<h1> Compare </h1>




<table style="margin-top:25px;display: inline-block;margin-left:10px">
  <col width="100">
  <col width="100">
  <tr>
    <th>Name:</th>
    <td>Test</td>
  </tr>
  <tr>
    <th>GP:</th>
    <td>Test</td>
  </tr>
    <tr>
    <th>MPG:</th>
    <td>Test</td>
  </tr>
    <tr>
    <th>PPG:</th>
    <td>Test</td>
  </tr>
    <tr>
    <th>RPG:</th>
    <td>Test</td>
  </tr>
    <tr>
    <th>APG:</th>
    <td>Test</td>
  </tr>
    <tr>
    <th>BPG:</th>
    <td>Test</td>
  </tr>
    <tr>
    <th>SPG:</th>
    <td>Test</td>
  </tr>
    <tr>
    <th>FGP:</th>
    <td>Test</td>
  </tr>
    <tr>
    <th>FTP:</th>
    <td>Test</td>
  </tr>
    <tr>
    <th>TPP:</th>
    <td>Test</td>
  </tr>
</table>


<table style="margin-top:25px;display: inline-block;margin-left:25px">
  <col width="100">
  <col width="100">
  <tr>
    <th>Name:</th>
    <td>Test</td>
  </tr>
  <tr>
    <th>GP:</th>
    <td>Test</td>
  </tr>
    <tr>
    <th>MPG:</th>
    <td>Test</td>
  </tr>
    <tr>
    <th>PPG:</th>
    <td>Test</td>
  </tr>
    <tr>
    <th>RPG:</th>
    <td>Test</td>
  </tr>
    <tr>
    <th>APG:</th>
    <td>Test</td>
  </tr>
    <tr>
    <th>BPG:</th>
    <td>Test</td>
  </tr>
    <tr>
    <th>SPG:</th>
    <td>Test</td>
  </tr>
    <tr>
    <th>FGP:</th>
    <td>Test</td>
  </tr>
    <tr>
    <th>FTP:</th>
    <td>Test</td>
  </tr>
    <tr>
    <th>TPP:</th>
    <td>Test</td>
  </tr>
</table>